<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Admin</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/admin_index.css">
</head>
<body>
    <nav>
        <a href="/admin_index">Home</a>
        <a href="/all_users">All users</a>
        <a href="/block_requests">Block Requests</a>
        <a href="/logout">Logout</a>
    </nav>
    <main>
        <h1>Welcome to admin</h1>
    </main>
    <footer>
        <a href="#">*** Admin Page ***</a>
    </footer>
</body>
</html>
