<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
    <div class="form">
        <h1 id="pagetitle">change password</h1>
        <form action="/change_password" method="post">
            <% if (error != 'none'){ %>
                <span id="error"><%=error%></span>
            <% }else if (msg != 'none'){ %>
                <span id="msg"><%=msg%></span>
            <% } %>

            <input hidden type="text" name="email" value=<%=user_email%>>

            <label for="password">enter new password</label>
            
            <input type="password" name="password" 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
            required autocomplete="new-password"
            title="Must contain at least one number and
             one uppercase and lowercase letter, and at least 8 or more">

            <label for="vPassword">verify new password</label>

            <input type="password" name="vPassword" 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" required
            title="Must contain at least one number and
             one uppercase and lowercase letter, and at least 8 or more">

            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>
