<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/settings.css">
</head>
<body>
    <% let user1 = user %>
    <div class="top_nav">
        <a href="/">
            <img id="profile_pic" src="">
        </a>
        <a href="/">home</a>
        <a href="/chats">chats</a>
        <a href="/logout">logout</a>
    </div>
    <main>
    
        <form class="info_class" method="POST" action="/settings/personal">
            <span class="inner_h">personal details</span>

            <% 
                if (error != 'none'){
            %>
                <span id="error"><%=error%></span>
            <% } %>
            <% 
                if (msg != 'none'){
            %>
                <span id="msg"><%=msg%></span>
            <% } %>

            <label for="username">enter Username</label>
            <input type="text" name="username" value="" required>
        
            <label for="Firstname">enter Firstname</label>
            <input type="text" name="Firstname" value="" required>

            <label for="Lastname">enter Lastname</label>
            <input ype="text" name="Lastname" value="" required>

            <label for="Email">enter Email</label>
            <input type="email" name="Email" value="" required>

            <button type="submit" id="btnSubmit" tabindex="5">update details</button>
        </form>

        <form method="POST" action="/settings/password">

            <% 
                if (error != 'none'){
            %>
                <span id="error"><%=error%></span>
            <% } %>
            <% 
                if (msg != 'none'){
            %>
                <span id="msg"><%=msg%></span>
            <% } %>

            <span class="inner_h">Change your password</span>
            
            <label for="password">Enter password</label>
            <input type="password"  name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}">

            <label for="vPassword">Confirm Password</label>
            <input type="password" name="vPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}">
            
            <button type="submit">Update password</button>
        </form>
        
        <form method="POST" action="/settings">
            <span class="inner_h">Change your password</span>
            
            <label for="hobby1">Choose 1st Hobby</label>
            <input type="text" name="hobby1">

            <label for="hobby2">Choose 2nd Hobby</label>
            <input type="text" name="hobby2">
             
            <label for="hobby3">Choose 3rd Hobby</label>
            <input type="text" name="hobby3">
            
            <label for="hobby4">Choose 4th Hobby</label>
            <input type="text" name="hobby4">
               
            <label for="hobby5">Choose 5th Hobby</label>
            <input type="text" name="hobby5">
            
            <button type="submit">Update interests</button>
        </form>

        <div id="location_form">
            <button id="location_btn" onclick="getLocation()">get current Location</button>
            <span id="demo">Display results here</span>
            <form method="POST" action="/settings">
                <input type="hidden" name="Longitude" id="Longitude">
                <input type="hidden" name="Latitude" id="Latitude">
                <button type="submit">update location</button>
            </form>
        </div>
        
        <form class="additional_bio" method="POST" action="/settings">
            <span class="inner_h">additional info</span>
            <div class="div_gender">
                <label for="gender">Enter gender(first letter uppercase)</label>
                <input type="text" name="Gender" required>
            </div>
            <div class="div_orientation">
                <label for="Orientation">sexual preference</label>
                <input type="radio" name="Orientation" value="male" required>
                <label for="male">male</label><br>
                <input type="radio" name="Orientation" value="female" required>
                <label for="female">female</label><br>
                <input type="radio" name="Orientation" value="lesbian" required>
                <label for="lesbian">lesbian</label><br>
                <input type="radio" name="Orientation" value="gay" required>
                <label for="gay">gay</label>
            </div>
            <label for="Bio">Tell us a little about yourself</label>
            <textarea id="Bio" name="Bio" required></textarea>
            <button type="submit">Add additional info</button>
        </form>

    </main>
    <div class="bottom_nav">
        <a href="/My_pictures">my pics</a>
        <a href="/connection_requests">requests</a>
        <a href="/search_match">search</a>
        <a href="/settings">settings</a>
    </div>
    <footer>

    </footer>
</body>
</html>