.main {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    color: black;
    border: 8px solid gold;
    border-radius: 15px 15px;
    margin-top: 210px;
    width: 90%;
    /* height: 670px; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-13%); */
    padding: 20px;
    position: absolute;
    color: white;
}


.suggested_connections {
    float: right;
}

.my_connections {
    float: left;
}

@media screen and (max-width: 1240px) {
    .main {
        width: 1000px;
    }
}

@media screen and (max-width: 1110px) {
    .main {
        width: 930px;
    }
}

@media screen and (max-width: 1025px) {
    .main {
        width: 870px;
    }
}

@media screen and (max-width: 940px) {
    .main {
        width: 740px;
    }
}
@media screen and (max-width: 820px) {
    .main {
        width: 600;
    }
}

#title_index {
    color: wheat;
    font-size: 30px;
    text-align: center;
}

.a_visits {
    text-align: center;
}

.btn_views {
    height: 30px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px 10px;
    border: 3px solid gold;
}