body{ padding: 0; margin: 0; border: none; }

main{
    width: 300px;
    padding: 10px;
    margin: auto;
    text-align: center;
    min-height: 85vh;
}
h1{ font-size: 25px; }
#visited_btn{ text-decoration: none;}
#home_nav{ display: flex; justify-content: space-around; padding: 10px; }
#home_nav a{  text-decoration: none; padding: 5px;}

.connection img{ width: 70%; margin: 0 15%;}
#connections{ display: none; background-color: red;}
#suggestions{ display: none; background-color: blue;}



.not_complete{
    margin: auto;
    padding: 10px;
    width: 280px;
    text-align: center;
    border: 1px solid rgba(255, 0, 0, 0.9);
    background-color: black;
    color: grey;
}
#not_complete_heading{
    width: 270px;
    padding: 5px;
    border-bottom: 1px solid white;
}
.not_complete p{
    border: 1px solid black;
    padding: 10px;
}
.not_complete a{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 217, 0, 0.39);
}
