
.not_complete{
    margin: auto;
    padding: 10px;
    width: 280px;
    text-align: center;
    border: 1px solid rgba(255, 0, 0, 0.9);
    background-color: black;
    color: grey;
}
#not_complete_heading{
    width: 270px;
    padding: 5px;
    border-bottom: 1px solid white;
}
.not_complete p{
    border: 1px solid black;
    padding: 10px;
}
.not_complete a{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 217, 0, 0.39);
}

main{
    width: 300px;
    padding: 10px;
    margin: auto;
    min-height: 80vh;
    text-align: center;
}

h1{ margin: 10px; font-size: 25px; }
main img{ width: 100%; }
.connection_status_btn{ width: 100%; height: 30px; background-color: gold; margin: 3px 0px; } 
.user_blocked{ display: block; font-size: 15px; color: red; }
.connect_to_chat{ display: block; font-size: 15px; }
.match_info{ width: 250px; margin: 0px 25px; }
.match_info span{ display: block; }
