
main{
    width: 300px;
    margin: auto;
    min-height: 80vh;
    padding: 10px;
    border: 1px solid black;
}

#messages{
    margin: 0 2%;
    width: 96%;
    min-height: 70vh;
    border: 1px solid black;
}

.message-them{
    display: grid;
    width: 45%;
    background-color: grey;
    margin: 2%;
}

.message-me{
    display: grid;
    width: 45%;
    background-color: green;
    margin: 2%;
}

p{
    margin: 0px 0px 0px 8px;
    padding: 0;
    border-bottom: 1px black solid;
}

#msg-area{
    margin: 0 2%;
    width: 96%;
    height: 8%;
    border: 1px solid black;
}

#msg-area input{

    margin-top: 7px;
    width: 80%;
    height: 75%;
}

#msg-area button{
    margin-top: 7px;
    width: 18%;
    height: 75%;
}
