main{
    width: 300px;
    padding: 10px;
    background-color: red;
    margin: auto;
    text-align: center;
}
h1{ font-size: 25px; }
#upload_form{ display: grid; }
#upload_form button{ color: white; background-color: black; padding: 7px; }
.result_div{
    margin: 10px 0px;
    width: 100%;
    border: 1px solid black;
}
.my_image{
    width: 100%;
}
