main{
    width: 300px;
    padding: 10px;
    margin: auto;
    min-height: 80vh;
    text-align: center;
}
.viewer_ {
    padding: 5px; 
    margin: 10px 0px;
    border: 1px solid black;
}
.viewer_ img { width: 100%; }
.viewer_ span { display: block; }
.viewer_ button { width: 100%; height: 30px; background-color: gold;}