main{
    width: 300px;
    padding: 10px;
    background-color: gold;
    margin: auto;
    text-align: center;
}
.viewer_ { padding: 5px; margin: 10px 0px; background-color: white; }
.viewer_ img { width: 100%; }
.viewer_ span { display: block; }